
<div class = "form-container" mat-elevation-z5>
    <h1 class = "center text-font">USER LOGIN</h1>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName = "email" [(ngModel)]="details.id"/>
            <mat-error *ngIf = "email?.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf = "email?.errors?.['email']">
                Enter correct format
            </mat-error>
            <!-- <mat-error *ngIf = "email?.errors?.['pattern']">
                Enter correct format
            </mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName = "password" type = "password" [(ngModel)]="details.pass"/>
            <mat-error *ngIf = "password?.errors?.['required']">
                Password is required
            </mat-error>
            <mat-error *ngIf = "password?.errors?.['pattern']">
                Enter correct pattern
            </mat-error>
        </mat-form-field>
        <div class = "center margin-top">
            <button mat-raised-button class = "button-content"  type = "submit" (click)="onSubmit()"> Login </button>
        </div>
        
    </form>
</div>


