<div class  = "form-container" mat-elevation-z6>
    <form #userForm = "ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <mat-form-field appearance="fill" >
                <mat-label>Choose forecast period</mat-label>
                <mat-select name = "period" [(ngModel)] = "userModel.selectedItem">
                    <mat-option *ngFor="let date of dates" [value]="date">{{date}}Months</mat-option>  
                </mat-select>  
            </mat-form-field>
        </div>
        <div class = "center margin-top">
            <button mat-raised-button class = "button-content" type = "submit"> Submit </button>
        </div>
    </form>
    
    <div class = "center margin-top">
        <button mat-raised-button class = "button-content" (click)="routeToMl()" > Show Forecast </button>
    </div>
</div>





